<center><h3>User_profile of <%= member.name %></h3>

<table>

<tr>
	<td><%= label_tag 'Name' %></td>
    <td><%= member.name %></td>
</tr>
<tr>
	<td><%= label_tag 'Gender' %></td>
    <td><%= member.gender %></td>
</tr>

<tr>
	<td><%= label_tag 'Qualification' %></td>
    <td><%= member.qualification %></td>
</tr>
<tr>
    <td><%= label_tag 'email' %></td>
    <td><%= member.email %></td>
</tr>
<tr>
    <td><%= label_tag 'Mobi No.' %></td>
    <td><%= member.mobino %></td>
</tr>


</table>

</center>